/* font-family: 'Montserrat'; */

body {
    padding: 0;
    background: url("bg-img.jpg");
    overflow: auto;
    overflow-x: hidden;
    background-size: cover;
    /* background-repeat: repeat; */
}

.navbar{
    background-color: #224957;
    color: white;
}

#navbarSupportedContent{
    position: relative;
    left: 940px;
}

.logout{
    text-decoration: none;
    color: white;
}

.dropdown-menu{
    background-color: #224957;
    height: 70px;
}

.lower{
    margin: auto 90px;
}

.container{
    max-width: 50%;
    border: 2px dotted white;
    border-radius: 10px;
    float: left;
    background-color: #224957;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.form{
    position: relative;
    float: right;
    right: 100px;
    top: -48px;
    display: flex;
    flex-direction: column;
}

input:focus{
    outline: none;
}

#title{
    background-color: #224957;
    padding: 10px 20px;
    width: 400px;
    border: 1px solid #224957;
    border-radius: 10px;
}

#publishing{
    background-color: #224957;
    padding: 10px 20px;
    width: 400px;
    border: 1px solid #224957;
    border-radius: 10px;
    margin-top: 20px;
}

.cancel{
    background-color: #224957;
    color: white;
    border: 1px solid white;
    margin-right: 20px;
}

.submit{
    background-color: lightcoral;
    color: white;
    border: 1px solid red;
    width: 400px;
}


                                         /* Responsive */

@media screen and (max-width: 768px) {
    body {
        background-size: cover;
        overflow: auto;
    }

    .navbar {
        padding: 10px;
        max-width: auto;
    }

    #navbarSupportedContent {
        position: static;
        left: auto;
        text-align: center;
    }

    .lower {
        /* margin: 20px; */
        text-align: center;
    }

    .container {
        max-width: 50%;
        float: none;
        margin: 0 auto;
    }

    .box {
        padding: 50px;
    }

    .form {
        float: none;
        right: auto;
        top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #title, #publishing {
        width: 100%;
        max-width: 50%;
    }

    .submit {
        margin-top: 20px;
        width: 200px;
    }
}
